* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23419d3c' fill-opacity='0.1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'IBM Plex Serif', serif;
}


/* Correspondiente al Navbar */
.navbar-index {
    background-color: #265a2465 !important;
}

.navbar-pages {
    background-color: #265a24 !important;
}

.navbar a {
    color: #fff !important;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
    color: #142e13 !important;
    background-color: #48af4459;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all 0.9s 0s ease;
}

.navbar .nav-item {
    font-size: 100%;
}


.navbar .dropdown-menu {
    color: #fff !important;
    background-color: #265a24 !important;
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.75);
}

.navbar .dropdown-menu a:hover {
    background-color: #47af44 !important;
}


.text-center {
    background-color: #4c805565;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-shadow: 1px 1px 2px black;

}

/* -----------------header ---------------*/
.header {
    width: 100%;
    height: 600px;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .novedades {
    width: 80%;
    margin-top: -143px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* Sombra en el contenedor central */
    box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -webkit-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -moz-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
}

.main .novedades p {
    text-align: justify;
}

/* Correspondiente al Footer */
.footer {
    background-color: rgb(94, 83, 50);
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer li a {
    color: white;
    transition: color .2s;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: none;
    color: #4c8055;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: white;
    transition: color .2s;
}

.footer .about-company a:hover {
    color: #4c8055;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer .location a {
    color: white;
    transition: color .2s;
    text-decoration: none;
}

.footer .location a:hover {
    text-decoration: none;
    color: #4c8055;
}



/* Mercado */
.container .row img {
    width: 100%;
    height: 350px;
}

.container .col-lg-4 {
    margin: 0px !important;
    padding: 20px;
}

.container .row img:hover {
    transform: scale(1.05);
    transition: all 0.9s 0s ease;
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid #fff;

}

/* pagina de Silos */

.jumbotron {
    height: 450px;
    background-color: #ffffff;
    background-image: url(../media/img/silos-banner.svg) !important;
    background-size: cover;
    background-position: center;
    border-radius: 0;
}

.card-silo {
    margin-top: 3rem;
}

.card-silo img {
    width: 100%;
    height: 300px;

}

.jumbotron h2 {
    color: black;
    text-shadow: none;
    padding-top: 2rem;
}

.jumbotron p {
    color: black;
    text-shadow: none;
}

.btn-silo {
    color: white;
    background-color: #0b530b;
    border: 0;
}

.btn-silo:hover {
    background-color: #2b582a;
    border: 1px solid rgb(139, 248, 95);
}

/* Pagina de Personal */

.encabezado-list,
.pie-list {
    background-color: #2b582a6e;
}

.personal-list {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.personal-list p {
    text-align: justify;
}

.personal-list .list-group-item img {
    width: 50%;
    border-radius: 50%;
}

/* Picado */
.contacto-grid {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.contacto-grid label {
    margin-top: 0.5rem;
}

.contacto-grid input {
    margin-bottom: 0.5rem;
}

.contacto-grid .inp-form:hover {
    border: none;
    background: #51daac;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.contacto-grid .inp-form:focus {
    border: none;
    background: #51daac;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease;
}

.contacto-grid .btn-formulario input {
    background: #0b530b;
    color: #fff;
    padding: 0.7rem;
}

.img-picadora img {
    width: 90%;
}

.video-picado {
    margin-bottom: 4rem;

}

.video-picado iframe {
    width: 560px;
    height: 315px;
}

.frm-video {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
}

/* ubicacion */

.grid-ubicacion p {
    text-align: justify;

}

.grid-ubicacion iframe {
    width: 100%;
    height: 350px;
}

/* pagina de contacto */

.contacto-frm {
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #48af445d;
}

/* Combustible */
/* 
.combustible {
    
    height: 1200px;
    background-color: #ffffff;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "item1 barra item2"
        "item3 barra item4"
        "item5 barra item6";
}

.item1 {
    grid-area: item1;
    margin-top: 5rem;
    margin-left: 6rem;
}
.item1 img{
    width: 200px;
    margin-left: 4rem;
}

.item2 {    
    grid-area: item2;     
    
}

.item2 img {
    width: 70%;
}

.item3 {
    grid-area: item3; 
    margin-left: 3rem;   
}
.item3 img{
    width: 60%;
}

.item4 {
    grid-area: item4;
}
.item4 img{
    width: 550px;
}
.item5 {
    grid-area: item5;
    margin-left: 3rem;
}
.item5 img{
    width: 300px;
    margin-left: 2rem;
}
.item6 {
    grid-area: item6;
}
.item6 img{
    width: 300px;
}

.barra {
    grid-area: barra;
    height: 1200px;
    background-color: #bfe7bd;
} */




/* ------------------------------------------------------------------------------------ */
/* Comienzo de las media */

@media only screen and (max-width:320px) {
    .footer .links {
        display: none;
    }

    .video-picado iframe {
        display: none;
    }
}

@media only screen and (max-width:540px) {
    .carousel-item img {
        width: 100%;
        height: 50vh;
    }

    .video-picado iframe {
        width: 360px;
        height: 260px;
    }
}

@media only screen and (max-width:768px) {
    .carousel-item img {
        width: 100%;
        height: 60vh;
    }

    .main .novedades {
        width: 100%;
        margin-top: -143px;
    }
    /* .item1 img{
        width: 150px;
    }
    .item2 img {
        width: 250px;        
    }
    .item3 img {
        width: 150px;
    }
    .item4 img{
        width: 50px;
    }
    .item5 img{
        width: 150px;
    }
    .item6 img{
        width: 150px;
    }
    .barra{
        height: 1000px;
    } */
}
/* @media only screen and (max-width:1230px){
    .item4 img{
        width: 350px;
    }
    .item3 img{
        width: 250px;
    }
} */