* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23419d3c' fill-opacity='0.1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Correspondiente al Navbar */
.navbar {
    background-color: #265a24 !important;
}

.navbar .nav-item {
    font-size: 100%;
}

.navbar .nav-item a {
    color: #fff !important;
}

.navbar .dropdown-menu {
    color: #fff !important;
    background-color: #265a24 !important;
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.75);
}

.navbar .dropdown-menu a:hover {
    background-color: #47af44 !important;
}

/* Correspondiente al Carousel */

.carousel-item img {
    width: 100%;
    height: 90vh;
}

.text-center {
    background-color: #4c805565;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-shadow: 1px 1px 2px black;

}

/* Correspondiente al Footer */
.footer {
    background-color: rgb(94, 83, 50);
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer li a {
    color: white;
    transition: color .2s;
    text-decoration: none;
}
.footer li a:hover {
    text-decoration: none;
    color: #4c8055;
}
.about-company i {
    font-size: 25px;
}
.about-company a {
    color: white;
    transition: color .2s;
}

.about-company a:hover {
    color: #4c8055;
}

.location i {
    font-size: 18px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.location a {
    color: white;
    transition: color .2s;
    text-decoration: none;
}

.location a:hover {
    text-decoration: none;
    color: #4c8055;
}



/* Mercado */
.container .row img {
    width: 100%;
    height: 350px;
}

.container .col-lg-4 {
    margin: 0px !important;
    padding: 20px;
}

.container .row img:hover {
    transform: scale(1.05);
    transition: all 0.5s 0s ease;
    box-shadow: 10px 9px 20px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid #fff;
    cursor: pointer;
}

/* Comienzo de las media */
@media only screen and (max-width:540px) {
    .carousel-item img {
        width: 100%;
        height: 50vh;
    }
}

@media only screen and (max-width:768px) {
    .carousel-item img {
        width: 100%;
        height: 60vh;
    }

}